<div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          <h4 class="fst-italic">Posts</h4>

          <% if (locals.posts && locals.posts.length > 0) { %>

            <ol class="list-unstyled mb-0">

             <% locals.posts.forEach(function(post) { %>
                <li> 
                  <form class="d-inline" action="/deletePost" method="POST">
                    <input type="hidden" name="title" value="<%= post.title %>">
                    <input type="hidden" name="action" value="delete">
                    <a href="/viewPost?title=<%= encodeURIComponent(post.title) %>"><%= post.title %></a>
                    <span class="p-2" onclick="this.parentNode.submit()">❌</span>
                  </form>
                  <form class="d-inline" action="/update" method="GET">
                    <input type="hidden" name="title" value="<%= post.title %>">
                    <a href="/viewPost?title=<%= encodeURIComponent(post.title) %>"><%= post.title %></a>
                    <span class="p-2" onclick="this.parentNode.submit()">✏️</span>
                  </form> 
                </li>
              <% }); %>

            </ol>

          <% } else { %>  

            <p>No posts yet</p>
          
          <% } %>
        </div>

      </div>
    </div>
